--- 
import BaseLayout from "../layouts/BaseLayout.astro"; 
import "../styles/blog.css"; 
title: "Blog - Coming Soon"
---

<BaseLayout>
  <section>
    <h1>Blog</h1>
    <p>Coming Soon...</p>
    <a href="/">Back to Home</a>
  </section>
</BaseLayout>
