---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header class="hero">
    <div class="top-left-image">
      <img src="/Images/pic01.jpg" alt="Anmol's Profile Photo" />
    </div>
    <div class="hero-text">
      <h1>Anmol Mittal </h1>
      <div class="details">
		<p>
		  <!-- College Building Icon -->
		  <svg class="icon" width="18" height="18" fill="currentColor" viewBox="0 0 24 24">
			<path d="M12 2L1 7l11 5 9-4.09V17h2V7L12 2zM3 10.18V17h2v-5.82L3 10.18z"/>
		  </svg>
		  <span>Indian Institute of Science</span>
		</p>
		<p>
		  <!-- Location Pin Icon -->
		  <svg class="icon" width="18" height="18" fill="currentColor" viewBox="0 0 24 24">
			<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
		  </svg>
		  <span>Bangalore, karnataka-560012</span>
		</p>
	  </div>
	  
    </div>

  </header>

  <div class="top-right-links">
    <a href="/blog/" class="link-item">Blog</a>
    <a href="/projects/" class="link-item">Projects</a>
  </div>

  <nav class="navbar">
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>

  <section id="about">
    <h2>About Me</h2>
    <p> Hi, I’m Anmol — a passionate programmer and a lifelong learner who finds joy in both writing clean code and sharing knowledge. My fascination with programming began at an early age, when solving logic puzzles and building simple apps felt like magic. Over the years, that curiosity evolved into a deep love for creating meaningful software.

Alongside coding, I truly enjoy teaching. Whether it’s breaking down complex concepts into simple ideas or helping someone write their first line of code, teaching gives me a unique sense of fulfillment. I believe that knowledge grows best when shared — and I strive to keep learning while helping others do the same.

From designing elegant solutions to debugging tricky bugs, programming is more than a profession to me — it’s a craft I’ve been honing with passion since the beginning.</p>
  </section>

  <section id="projects">
    <h1>My Projects</h1>
    <ul>
      <li>
        <h3>Project 1: Iterative Methods Efficiency</h3>
        <p>The work deals with the iterative methods to solve particular problem. It includes a detailed analysis of convergence rates and computational complexity. Visit Projects Page for more details. </p>
        
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: anmolmittal@iisc.ac.in</p>
    
  </section>

<section id="social">
  <h2>Socials</h2>
  <div class="social-links">
    <a href="https://github.com/anmol0021" target="_blank">
      <img src="/icons/github.svg" alt="GitHub" />
    </a>
    <a href="https://www.linkedin.com/in/anmol-mittal-a88875323/?originalSubdomain=in" target="_blank">
      <img src="/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://x.com/Anmol_025?t=oXwqqCI9UIbpBRnjKngU1g&s=08 " target="_blank">
      <img src="/icons/x.svg" alt="X" />
    </a>
    <a href="https://www.instagram.com/anmolmittal4041?igsh=MWdseDdmbm53OXNwcA==" target="_blank">
      <img src="/icons/instagram.svg" alt="Instagram" />
    </a>
  </div>
</section>

  </section>

</BaseLayout>

