--- 
import BaseLayout from "../layouts/BaseLayout.astro"; 
import "../styles/projects.css"; 
title: "Projects "
const projects = [
{
    title: "Project 1: Movie Recommendation Engine",
    summary: "Created a movie recommendation system that suggests similar movies based on genre and plot similarity. Used TF-IDF and cosine similarity for recommendations and integrated the OMDb API to fetch movie data dynamically and handle unseen movie inputs.",
    link: "https://github.com/anmol0021/Movie_Recommendation_Engine"
  },  

{
    title: "Project 2: Iterative Methods Efficiency",
    summary: "This project focuses on the efficiency of iterative methods.It includes a detailed analysis of convergence rates and computational complexity. It also provides a comparison of different iterative methods, such as Jacobi and Gauss-Seidel. It also dives into the Parallel Programming aspects of these methods and how they can be optimized for modern hardware. It also includes a detailed analysis of the convergence rates and computational complexity of these metative methods for solving linear systems.",
    link: "https://github.com/anmol0021/Iterative_Methods_Solver"
  }  
  // Add more projects in the future
];
---



<BaseLayout title="Projects">
  <section class="projects-section">
    <h1 class="projects-heading">My Projects</h1>

    <div class="project-list">
      {projects.map(project => (
        <div class="project-card">
          <h2 class="project-title">{project.title}</h2>
          <p class="project-summary">{project.summary}</p>
          <a class="project-link" href={project.link} target="_blank">
            🔗 View Project
          </a>
        </div>
      ))}
    </div>
  </section>
</BaseLayout>

