--- 
import BaseLayout from "../layouts/BaseLayout.astro"; 
import "../styles/projects.css"; 
title: "Projects - Coming Soon"
---

<BaseLayout>
  <section>
    <h1>Projects</h1>
    <p>Coming Soon...</p>
    <a href="/">Back to Home</a>
  </section>
</BaseLayout>
